<div class="header-layout">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- LOGO  -->
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="zelp" class="logo"></a>
            <button (click)="collapse()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="{{isCollapsed ? '' : 'collapse'}} navbar-collapse navbar-collapse-zone"
                id="navbarSupportedContent">
                <!-- SEARCH  -->
                <form class="d-flex justify-content-end search" role="search">
                    <div class="input-group">
                        <input type="text" placeholder="Recherchez un restaurant..." class="form-control">
                        <span class="input-group-text btn btn-primary"><fa-icon [icon]="iconSearch"></fa-icon></span>
                    </div>
                </form>
                <!-- BTN ZONE  -->
                <ng-container *ngIf="!connected ; else connectedPanel">
                    <ul class="navbar-nav me-auto d-flex justify-content-end mb-2 mb-lg-0 login">
                        <li class="nav-item me-2">
                            <button routerLink="/auth" class="btn btn-primary">Se connecter</button>
                        </li>

                        <li class="nav-item me-2">
                            <button routerLink="/auth/register" class="btn btn-secondary">S'inscrire</button>
                        </li>
                    </ul>
                </ng-container>
                <ng-template #connectedPanel>
                    <div class="navbar-nav me-auto d-flex justify-content-end mb-2 mb-lg-0 login">
                        <app-loading [dataState]="profilState" class="w-100 d-flex">
                            <!-- TODO revoir le responsive du dropdown  -->
                            <ng-container *ngIf="profil$|async as profil">
                                <div class="text-white w-75 d-flex flex-column justify-content-center">
                                    <div class="w-100 d-flex justify-content-center">
                                        <span class="box-link-primary">
                                            {{profil.lastname}} {{profil.firstname}}
                                        </span>
                                    </div>
                                    <div class="w-100  d-flex justify-content-center">
                                        <ng-container *ngIf="profil.role == 'client'">
                                            <a routerLink="/mes-avis" class="box-link-secondary">mes avis</a>
                                        </ng-container>
                                        <ng-container *ngIf="profil.role == 'restaurateur'">
                                            <a routerLink="/mes-restaurant" class="box-link-secondary">mes
                                                restaurant</a>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="w-25 d-flex justify-content-end">
                                <button (click)="logout()" class=" btn btn-outline-secondary"><fa-icon
                                        [icon]="iconDoor"></fa-icon></button>
                            </div>
                        </app-loading>
                    </div>
                </ng-template>
            </div>
        </div>
    </nav>
    <!-- TITLE  -->
    <h1 class="title-header">Entrez en contact avec les meilleurs restaurant près de chez vous</h1>
</div>