<div class="form-container">
    <div class="title-form">Se connecter</div>
    <form [formGroup]="formLogin">
        <div class="form-content">
            <div class="form-floating w-100 mb-3">
                <input formControlName="email" type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating w-100">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <ng-container *ngIf="formLogin.valid;else noValid">
                <button (click)="submit()" class="btn btn-connexion mt-2">Se connecter</button>
            </ng-container>
            <ng-template #noValid>
                <button class="btn btn-connexion mt-2 disabled">Se connecter</button>
            </ng-template>
        </div>
    </form>
</div>