<div class="form-container">
    <div class="title-form">Se connecter</div>
    <form [formGroup]="formLogin">
        <div class="form-content">
            <div class="form-floating w-100 mb-3">
                <input formControlName="email" type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating w-100">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <app-loading [dataState]="loginState" [loadingTemplate]="loadingBtn" [errorTemplate]="error">
                <ng-container *ngIf="formLogin.valid;else noValid">
                    <button (click)="submit()" class="btn btn-connexion mt-2">Se connecter</button>
                </ng-container>
            </app-loading>
            <ng-template #loadingBtn>
                <button appSizingBox [width]="120" class="btn btn-connexion mt-2 disabled">
                    <div appSizingBox [height]="25" [width]="25" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </ng-template>
            <ng-template #noValid>
                <button class="btn btn-connexion mt-2 disabled">Se connecter</button>
            </ng-template>
            <ng-template #error>
                <ng-container *ngIf="formLogin.valid;else noValid">
                    <button (click)="submit()" class="btn btn-connexion mt-2">Se connecter</button>
                </ng-container>
            </ng-template>
        </div>
    </form>
</div>