.form-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-connexion {
  color: white;
  font-weight: 600;
  background-color: $primary;
  box-shadow: 0 200px 100px -100px $primary inset;
  transition: box-shadow 0.5s;
}

.btn-connexion:hover {
  color: white;
  font-weight: 600;
  background-color: $secondary;
  box-shadow: 0 200px 100px -100px $secondary inset;
}

.title-form {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

.choose-type {
  width: 100%;
  font-weight: 500;
  margin-bottom: 5px;
}
