<div class="card-container">
    <ng-container *ngFor="let item of resto; let i = index">
        <div class="card-custom">
            <div class="card-content">
                <div class="w-100">
                    <h4 class="text-center">{{item.name}}</h4>
                    <p class="text-center">{{item.description}}</p>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <ng-container *ngIf="i%2 == 0;else primaryBtn">
                        <button class="btn btn-secondary">Déposer un avis</button>
                    </ng-container>
                    <ng-template #primaryBtn>
                        <button class="btn btn-primary">Déposer un avis</button>
                    </ng-template>
                </div>
            </div>

        </div>
    </ng-container>
</div>